<%- include('partials/header', {user: user}); %>
    <div class="content row">
    

    <%- include('partials/sidenav'); %>
    

    <% if(!cookiePopup) { %> 
        <div id="simple-cookie-consent">
            <div class="cookie-consent-container">
              <div class="cookie-consent-notice">
                <h4>Vaše preferencie cookies 🍪</h4>
                <hr>
                <p>Táto webová stránka používa súbory cookies. Vaše nastavenia môžete zmeniť nižšie, alebo si prečítajte našu <a href="#">Cookie Policy</a>.</p>
              </div>
              <div class="cookie-consent-selection">
        
                <form action="/cookiePreference" method="get">
                    <button name="cookiePreference" value="false" class="cookie-consent-deny">Iba nevyhnutné</button>
                    <button name="cookiePreference" value="true" class="cookie-consent-allow">Povoliť všetky cookies</button>
                </form>
        
              </div>
            </div>
        </div>
    <% } %> 

    <div class="products col-10">
        <% for(let index = 0; index < products.length; index++){ %>
            <div class="card ">
                <img src="<%=products[index].img%>" class="card-img-top" alt="obrazok">
                <div class="card-body">
                    <span class="card-rating">
                        <% for(let i = 0; i < products[index].rating; i++){ %>
                            <i class="fa-solid fa-star"></i>
                        <% } %>
                        <% for(let i = 0; i < 5 - products[index].rating; i++){ %>
                            <i class="fa-regular fa-star"></i>
                        <% } %>
                    </span>
                    <a href="/product/<%=products[index]._id %>" class="card-title"><%=products[index].name%></a>
                    <p class="card-text"><%=products[index].desc%></p>
                </div>
                <div class="my-card-footer">
                    <span class="price"><%=products[index].price.toFixed(2)%> €</span>
                    <form action="/buyproduct/<%=products[index]._id%>" method="post">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-cart-shopping"></i> Kúpiť</button>
                     </form>
                </div>
            </div>
        <% } %>
    </div>

</div>
<%- include('partials/footer'); %>
