<%- include('partials/header', {user: user}); %>
    <style>
        td>a {
            color: #ff8888;
            text-decoration: none;
        }
        td>a:hover {
            text-decoration: underline;
            color: #ff8888;
        }
    </style>
    <div class="content">
        <div class="tab row">
            <h2>Prihlásený ako: <%= user.username %> (<%=user.email%>)</h2>
            

            <div class="profile-buttons">

            
                <form action="/" method="GET">
                    <button class="btn btn-primary m-2" type="submit"><i class="fa-solid fa-house"></i> Domov</button>
                </form>
                <form action="/logout" method="POST">
                    <button class="btn btn-danger m-2"><i class="fa-solid fa-arrow-right-from-bracket"></i> Odhlásiť sa</button>
                </form>
            </div>

        </div>

        <div class="tab row">
            <h2><i class="fa-regular fa-file"></i> Vaše objednávky</h2>
            <% if(orders.length > 0) { %>
            <table>
                <tbody class="orders-table">
                    <tr>
                        <th>ID objednávky</th>
                        <th>Stav</th>
                        <th>Dátum objednania</th>
                    </tr>
                    <% for(let i = 0; i < orders.length; i++) { %>
                        <tr>
                            <td><a href="/order/<%=orders[i]._id%>"><%=orders[i]._id%></a></td>
                            <td><%=orders[i].status%></td>
                            <% let date = new Date(orders[i].created); %>
                            <td><%=date.getDate()%>.<%=date.getMonth()%>.<%=date.getFullYear()%></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
            <% } else { %>
                <p style="text-align: center; font-size: 20px; margin-bottom: 50px"><i class="fa-regular fa-circle-xmark"></i> Zatiaľ žiadne objednávky</p>
            <% } %> 
        </div>


    </div>
    <%- include('partials/footer'); %>